body
{
    background-color: #1a1a1a;
    margin: 0;
    font-family: Arial, sans-serif;
}

#main-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h1
{
    color: #576de6;
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
}

h3
{
    color: beige;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}